@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-image: url(../src/image/hero.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}